* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/*added semantic element selector*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*added semantic element selector*/
header h1 {
    display: inline-block;
    font-size: 48px;
}
/*added semantic element selector*/
header h1 .seo {
    color: #d9dcd6;
}
/*added semantic element selector*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*removed header nav ul selector*/
/*added semantic element selector*/
header nav ul li {
    /*added list-style property to replace removed ul selector*/
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;  
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*moved content-box selectors up to flow with HTML*/
/*added new content-box class selector to replace individual article classes*/
.content-box {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*removed online-repuation-management selector and properties*/
/*removed social-media-marketing selector and properties*/

/*replaced with content-box selector*/
.content-box img {
    max-height: 200px;
}
/*removed individual article img classes*/

/*replaced with content-box selector*/
.content-box h2 {
    margin-bottom: 20px;
    /*increased font-size to match mockup*/
    font-size: 42px;
}
/*removed individual artle h2 selectors*/

/*added semantic element selector*/
/*moved float selectors down to flow with HTML*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*removed individual benefit classes and used one class to select all 3 sections
removed extra css selectors and added .benefit to apply to all 3*/
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}
/*benefit sections consolidated into one class*/
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*benefit sections consolidated into one class*/
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*changed to semantic element selector*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*added semantic element selector*/
footer h2 {
    font-size: 20px;
}
